.container{
    display: grid;
    width: 1000px;
    height: 600px;
    background-color: rgb(244, 101, 30);
     border:3px solid black ;
     /* grid-template-columns: 140px 150px auto 150px 140px; */
     grid-template-columns:100px 100px 100px 100px;
     /* grid-template-columns: repeat(4,1fr); */
     /* grid-template-rows: repeat(3,1fr);*/
     grid-template-rows: 100px 100px 100px;
     justify-content:space-around;

     /* grid-template-areas: "header header header header" "main main.sidebar" "footer footer footer footer"; */
     /* column-gap: 20px;
     row-gap: 10px; */
     justify-items: center;
     align-items: center;
     align-content:space-around;
}


.item{
     width: 100px;
    height: 100px;
    background-color: rgb(28, 184, 184);
     border:3px solid black ;
     text-align: center;
     align-content: center;
}

.item1{
    /* grid-area: header; */
}

.item2{
      /* grid-area:main; */
}

.item3{
    /* grid-area: sidebar; */
}
.item4{
    /* grid-area: footer; */
}